.contacts {
  background-color: #353535;
  color: var(--text-secondary);
}

@media (min-width: 768px) {
  .contacts {
    padding: 45px 0;
  }
}

.contacts__container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .contacts__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contacts__item-value {
  margin: 10px 0 0;
}

.contacts__item {
  margin: 0;
  padding: 30px 0;
  text-align: center;
}

.contacts__item:not(:last-child) {
  width: 100%;
  border-bottom: 1px solid #454545;
}

@media (min-width: 768px) {
  .contacts__item {
    padding: 0 20px;
  }

  .contacts__item:not(:last-child) {
    border-right: 1px solid #454545;
    border-bottom: 0;
  }
}
