.developer {
  display: flex;
  justify-content: end;
  align-items: center;

}

.developer__link {

  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--text-secondary);
    mask-image: url("../images/sprite.svg#nemtsev-k");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  &:hover::before {
    background-color: var(--text-special);
  }

  &:active::before {
    background-color: var(--text-secondary);
  }
}
