.social {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__item-link {

}

.social__item-link:hover {
  opacity: 0.8;
}

.social__item-link:active {
  opacity: 0.6;
}

.social__item-link::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/example-alt.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
